<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Instruktori.Enabled" value="True" />
		<add key="Kandidati.Enabled" value="True" />
		<add key="connectionString" value="Data Source=(local);Initial Catalog=baza;integrated security=True" />
    <add key="testoviStartPath" value="D:\C\FAKULTET\3. God\ZAVRSNI RAD\DIPLOMSKI\Mujo\Aplikacija1\Testovi\Testovi\bin\Release\Testovi"/>
	</appSettings>
</configuration>